body{
		filter: blur(0.5px);
		background: #000;
	}
	.box{
		position: absolute;
		top: 10%;
		left: 5%;
		width: 500px;
		height: 500px;
		background: rgba(119,249, 197, .2);
		border-radius: 50%;
		mix-blend-mode: screen;
		filter: blur(100px);
	}
    canvas{
      display:block;
     /*  border:2px solid red;*/
       margin:0 auto;

    }
  h1{
    color:pink;
    position:absolute;
    top:80%;
    left:60%;
    text-align:center;
    font-weight:400;
    text-shadow:1px 1px 8px rgba(255,0,0,.7)
   }